@charset "utf-8";
/* CSS Document */
.left{float:left;}
.right{float:right;}


/*头部导航*/
.top{ background:#f2f2f2; margin-top:1px; margin-bottom:6px; border-bottom:1px solid #e4e4e4;}
.top_nav{ width:1230px;height:32px; line-height:32px; margin:0 auto; font-size:1em; font-family:"微软雅黑";color:#999;}
.top_nav_left {}
.top_nav_left em{ font-style:normal; }
#plese{ padding-left:20px; padding-right:20px;}
.top_nav_left a,.top_nav_right a,.header_main li a{color:#999;}

.top_nav_right ul{}
.top_nav_right li{ float:left;margin:auto 10px;}
.my{padding-right:8px;}
.concern{ padding-left:16px; margin-left:18px;}
.shopping_car{padding-left:16px; }
.store a{padding-right:20px; height:1em; border-right:1px solid #999;}
.phone{ margin-left:14px; padding-left:14px;}
.inter_nav{padding-left:16px;margin-right:8px;}
.top_nav_right a:hover,.top_nav_left a:hover{color:red;}


/*天猫logo和输入框*/
.header{}
.header_main{width:1230px;height:114px;margin:18px auto 0px auto; position:relative; }
.header_log{width:200px; height:114px; position:absolute; left:50px; top:0px;color:#dd2726;font-family:"幼圆";}
.header_log  h1{ font-size:4em;}
.header_log h1 a{ color:#dd2726; font-weight:bold;}
.header_log  p{font-size:1.8em;}

.search_box{ width:622px; height:36px;  margin:0px auto; position:absolute; top:20px; left:268px;border:2px solid #c40001;}
#search_text{width:618px;height:36px; background-color:transparent;position:absolute;top:0px;left:0px; text-indent:8px;}
#btn{ height:36px; width:132px;  position:absolute;top:0px;right:0px; background:#c40001;color:white; font-size:2em; font-weight:bold; }
.search_text label{}

.link_box{ width:622px; position:absolute;top:66px;left:258px;}
.header_main ul{}
.header_main li{ font-size:1.2em; display:inline-block;  padding-left:10px; padding-right:10px; }
.tao{border-right:1px solid #999;}
.red-tao a{color:#c40001 !important;}

/*nav*/
#nav{height:36px; line-height:36px;font-size:1.3em;color:white;background-color:#dd2726; font-family:"微软雅黑"; position:relative;}
#nav_main{ width:1230px;margin:0 auto;}
#nav_sort{ float:left; width:184px; padding-left:16px; background-color:#c40001;}
#nav_sort img{width:18px; vertical-align:middle;margin-right:14px;}
#nav_sort span,.changeSize{ font-weight:bold;}

#nav_store{ float:left; padding-left:16px;}
.po_1 , .po_2{ width:18px; margin-right:2px; vertical-align:text-bottom;}
.changeSize{font-family:"幼圆";}
#nav_store li{display:block; padding-left:14px; padding-right:14px; float:left; position:relative;}
#nav_store a{color:white;}

/*猫头div*/
.little-cat{
	width: 40px;
    height: 15px;
	background: url(../image/background.png) center center no-repeat;
	background-size: 40px 15px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	margin-top: -12px;
	z-index: -1;
	display:none;
}

/*content和广告区*/

.content,.content-c{width:100%;height:500px; overflow:hidden; position:relative;}
.content-c{ position:absolute;top:0;left:0;z-index:0;}
.content_main{width:1230px;height:500px; position:relative; margin:0 auto;}



#content_left{width:200px; font-family:"微软雅黑"; background:rgba(238,238,238,0.95); font-size:1.2em; padding-bottom:4px; position:absolute;top:0px;left:0px; z-index:100; }
#content_left img{ height:18px;width:18px; vertical-align:middle; margin-right:14px;}
#content_left li{line-height:2.28;padding-left:16px;}
#content_left li:hover{ background:white;}
#content_left a{color:black;}

#content_right{ width:100px;height:468px;padding-top:12px; margin-top:10px; margin-bottom:10px; text-align:center;background:rgba(0,0,0,0.5); font-family:"微软雅黑";color:white; position:absolute;top:0px;right:0px; z-index:100;}
#content_right:hover{background:rgba(0,0,0,0.8);}
#hollow{ padding-top:10px; padding-bottom:12px;}
#btn_in{ width:80px; height:24px;color:white; background:#dd2726; border:1px solid #dd2726; border-radius:12px;}
#free{ padding-bottom:16px; padding-top:10px;}
#free a{font-family:"微软雅黑";color:white;}
#after_sale{ padding-bottom:18px; padding-top:18px;}
#more{ margin-bottom:20px;}
h6{ padding-bottom:6px; padding-top:6px; margin-bottom:18px;}
#mini{padding-top:4px; padding-bottom:5px;}

#content_ad{ width:930px;height:500px; position:relative;}
#content_ad div{ position:absolute;left:50%; bottom:20px; z-index:100;}
#content_ad button{width:18px;height:18px;border-radius:9px; border:1px solid #999; background:rgba(33,62,105,0.5);}
#content_ad button:hover{ background:#f2f2f2;}

/*con-nav-detile区域*/
#con-nav-detile{ width:700px; height:500px; background:white;position:absolute;top:0px;left:200px; z-index:400; font-family:"微软雅黑"; display:none;}
.con-nav-d-m{ margin:20px 30px;}
.nav-d-title{ width:60px; font-size:14px;line-height:22px;font-weight:bold; float:left;text-align:justify; color:#333;}
.nav-d-title:after {width: 100%;height: 0;margin: 0;display: inline-block;overflow: hidden;content: '';}
.nav-d-m{ width:490px; float:left; margin-left:14px; color:#999;}
.nav-d-m span{dispaly:inline-block; height:22px; font-size:14px;margin-right:14px; cursor:pointer;}
.red-nav{color:pink;}

/*侧边栏*/
#saider{ width:35px; height:100%; position:fixed; top:0; right:0; color:#fff;background: rgba(0,0,0,1); z-index:999;}
#saider a{ color:#fff;}
.saider_picture:hover,.shopping:hover{ background:#c40001;}
.saider_main{ height:50%; width:35px;  position:absolute; top:0; bottom:0; left:0; right:0;margin:auto; z-index:200;}
.shopping{padding-top:8px; padding-bottom:14px; border-top:1px solid #999;border-bottom:1px solid #999;background:rgba(0,0,0,1);}
.shopping span{ display:block; text-align:center; }
.saider_picture{ width:35px; height:35px; margin:8px 0 8px 0; background:rgba(0,0,0,1);}
.saider_bottom{ width:35px; position:fixed; bottom:0px;}
.bottom_picture{margin:0px;}

/*brand_nav区域*/
#brand{ width:100%; padding-top:60px; background:#F5F5F5;}
#brand_nav{ width:100%; }
.brand_nav_main{ width:1230px; height:436px; margin:0 auto ;}
.brand-n-m-l-w{ float:left;}
.brand_n_m_r{width:740px; height:436px; float:right; overflow:hidden;}
.brand_item{ width:120px; height:108px; display:inline-block; float:right; margin:1px; text-align:center; position:relative; font-size:1.2em;font-family:"微软雅黑";}



.brand-flip,.brand-date,.theBlankBack{ width:120px; height:108px; position:absolute;top:0;left:0;background-color:#fff !important;text-align:center; }
.theBlankBack{background-color:#F5F5F5 !important;}
.brand_img{position:absolute;top:50%;left:50%; margin:-25px auto auto -50px;}


.enter-box{width:118px;height:48px;text-align:center; position:absolute;top:0; left:0; z-index:100; background:rgba(0,0,0,0.75); padding-top:30px; padding-bottom:30px; display:none;}
.enter{ width:60px; height:20px; line-height:20px;background:#c40001; border-radius:30px; display:inline-block; margin-top:10px;}
.enter-box a,.enter-box span{ color:#fff;}

/*footer*/
#footer{ width:100%;background:#fff;}
#help{ width:1190px;height:100px; background:url(../image/footerback.jpg) no-repeat; margin:25px auto;}
#help a{ width:296px; height:100px; float:left;display:block;}
#describtion{ width: 1190px;padding-top: 22px; height: 190px;margin: auto;}

#describtion dl{ display:block;padding-left:52px; width:186px; height:90px; float:left; text-align:left; }
#describtion dt{ height:30px;line-height:30px; font-size:16px; color:#646464; font-weight:bold;}
#describtion a{color:#8b8b8b; height:20px; line-height:20px; }

#copyright{ width:100%; height: 196px; border-top:2px solid #c40000; background:#000; font-family:"微软雅黑";}
#wrap-copyright{ width:1190px; margin:10px auto auto auto; text-align:left;}
#wrap-copyright a,#footer{ color:#fff;}
#about a{ margin-right:3px; }
#connection{ margin-top:20px; margin-bottom:14px;}
#connection a{ display:inline-block;height:12px; line-height:12px;padding-right:4px; border-right:1px solid #fff;}
#allow,#allow a{color:#8b8b8b;}
.alow-float{ float:left; margin-right:66px;}
.alow-block{ clear:left; padding-top:4px;}
#copyright-con{color:#646464;padding-top:4px;}
#copyright-img{ margin-top:10px;}
#copyright-img img{margin-right:12px;}


#changeBrand{ width:100%; height:78px;background:#fff;position:absolute;top:25px;left:50px; padding-top:30px;}
.changeBtn{display:block; color:#999; margin-top:4px;}
